*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing:border-box;
    border:0;
    font-family: 'Poppins', sans-serif;
    font-family:'Herr Von Muellerhoff', cursive; 
}
body{
    overflow-x: hidden;
    
}

a,
a:link,
a:visited{
    text-decoration: none;
    outline: none;
    border: none;
}
ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}
section,
span,
p{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;    
}
.header-navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}
.header-logo{
    width: 100%;
    max-width: 100px;
    z-index: 99;
    margin: -10px;
    background-image: url("IMG_3187 (2).PNG"); 
    width: 150;
    height: 150;

}
ul{
    display: flex;
}
li{
    margin-left: 27px;
}
a{
    color:black;
    font-weight: bold;
    font-size: 15px;
}
#slider{
    width: 1000px;
    height: 500px;
    margin: 20px auto;
    position: relative;
    border: 10px solid white;
    box-shadow: 0px 0px 5px 2px;
}
button{
    padding: 20px;
    border: none;
    background-color: black;
    font-size: 30px;
    color: white;
    position: absolute;
    top: 45%;
    cursor: pointer;
}
.next{
    border-radius: 10px 0px 0px 10px;
    margin-left: 950px ;
}
.prew{
    border-radius: 0px 10px 10px 0px;
}
.about{
    margin: 70px;
}
.about-tittle{
    margin: 60px;
    font-family:  'Herr Von Muellerhoff', cursive;;
}
.about-tittle h2{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-size: 15px;
    font-family: 'Herr Von Muellerhoff', cursive;
    font-weight: bold;
}
*{
    box-sizing: border-box;
}
.img-container{
    float: left;
    width: 33.33%;
    padding: 5px;
    margin-bottom: 80px; 
}
.temizle::after{
    content: "";
    clear: both;
    display: both;
}
.contact{
    padding: 10px 0;
}
.contact-content{
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
    color: brown;
}
.contact-item{
    display: flex;
    align-items: center;
    flex-basis: 33%;
    margin-bottom: 100px;
    flex-direction: column;
}
.footer h2{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    color: blueviolet;
    font-size: 30px;
    font-weight: 600;
}
.footer h2::after{
    content: --;
    width: 30px;
    height: 3px;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
}
.footer-copyright{
    text-align: center;
    margin-bottom: 25px;
    padding-left: 500px;
    
}
.img-ssp{
    margin-left: 15px;
    display: flex;
    justify-content: center;
}
.img-ssp p{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    margin: 30px;


}